# Data Structures (1)
* <b>List</b> -- mutable sequence, ordered and non-unique storage allowed;
* <b>Tuple</b> -- immutable sequence, ordered and non-unique storage allowed;
* Set (consider later) -- unordered and unindexed mutable collection with no duplicate elements;
* Dictionary (consider later) -- unordered  and indexed mutable collection with no duplicate elements.

## Lists

###  Creating
* Using a pair of square brackets to denote the empty list: []
* Using square brackets, separating items with commas: [a], [a, b, c]
* Using a list comprehension: [x for x in iterable]
* Using the type constructor: list() or list(iterable)

Note:

<i>iterable</i> i.e. elements of the object can be sequentially accessed

In [ ]:
empty_list = []
square_brackets_list = ["Hello",",","World","!"]
list_comprehension = [letter for letter in "some_string"]
with_type_constructor_list = list("some_string_2")

In [ ]:
[letter for letter in range(10)]
list(range(10))

In [ ]:
print(empty_list,square_brackets_list,list_comprehension,with_type_constructor_list,sep="\n")

### Accessing

In [4]:
print(square_brackets_list[0])
print(square_brackets_list[1:3])

Hello
[',', 'World']

### Changing

In [5]:
square_brackets_list[2] = "HSE"
square_brackets_list

['Hello', ',', 'HSE', '!']

In [6]:
square_brackets_list[10] = "Error Example" # remember about list range

IndexError: list assignment index out of range

### Adding

In [7]:
empty_list.append("new_item") # to the end of the sequence

In [8]:
empty_list

['new_item']

In [9]:
square_brackets_list.insert(1,"INSERTION_AT_1") # into list at the index
square_brackets_list.insert(10,"INSERTION_AT_10")
square_brackets_list

['Hello', 'INSERTION_AT_1', ',', 'HSE', '!', 'INSERTION_AT_10']

In [10]:
square_brackets_list[5] # list index out of range

'INSERTION_AT_10'

### Removing / deleting

In [12]:
square_brackets_list.remove("INSERTION_AT_10") # removing the specified item (tagret), if tagret not in list => ValueError
square_brackets_list

ValueError: list.remove(x): x not in list

In [13]:
square_brackets_list.pop(1) #  removing the specified index, as default the specified index = the last item
square_brackets_list

['Hello', ',', 'HSE', '!']

The <b>del</b> statement is used to delete objects (variables, lists or its parts etc. -- everything is an object)

In [17]:
a = 1
b_list = [1,2,a,4,'5']

In [18]:
del a
a # name 'a' is not defined

NameError: name 'a' is not defined

In [19]:
del b_list[0:2]
b_list

[1, 4, '5']

In [20]:
del b_list

### Clearing

In [21]:
list_of_letters = [letter for letter in "qwertyuiopasdfghjklzxcvbnm"]
print("LIST WITH LETTERS:",list_of_letters,sep=' ')
list_of_letters.clear()
print("EMPTY LIST:",list_of_letters,sep='\n')

LIST WITH LETTERS: ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', 'a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'z', 'x', 'c', 'v', 'b', 'n', 'm']
EMPTY LIST:
[]

### Other list methods

In [30]:
list_of_letters = [letter for letter in "qwertyuiopasdfghjklzxcvbnm"]
print(list_of_letters)

list_of_letters.reverse()
print(list_of_letters) # reversing list

list_of_letters.sort(reverse=True) # sorting. Remember! sort() method accepts two argument and returns None 
print(list_of_letters)

m_ind = list_of_letters.index('m') # find the first item whose value is equal to target
print(list_of_letters[m_ind])

list_of_letters.extend(list('1234567890')) # iterable extending
print(list_of_letters+list_of_letters)

print("LIST SIZE:",len(list_of_letters)) # list length

['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', 'a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'z', 'x', 'c', 'v', 'b', 'n', 'm']
['m', 'n', 'b', 'v', 'c', 'x', 'z', 'l', 'k', 'j', 'h', 'g', 'f', 'd', 's', 'a', 'p', 'o', 'i', 'u', 'y', 't', 'r', 'e', 'w', 'q']
['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
m
['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', 'z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
LIST SIZE: 36

In [32]:
reversed(list_of_letters)

In [37]:
min(sum([[1,2],[2,5],[2,2]],[]))

1

In [ ]:
list(sorted(sum([[1,2],[2,5],[2,2]],[])))

In [ ]:
[1,23,4]+[1,3,4,5]

## Tuples

###  Creating
* Using a pair of parentheses to denote the empty tuple: ()
* Using a trailing comma for a singleton tuple: a, or (a,)
* Separating items with commas: a, b, c or (a, b, c)
* Using the tuple() built-in: tuple() or tuple(iterable)

In [46]:
empty_tuple = ()
singleton = 'singleton',0,
separated_tuple = ("Hello",",","World","!") # separated_tuple = "Hello",",","World","!"
with_type_constructor_tuple = tuple("some_string_2")
with_type_constructor_tuple

('s', 'o', 'm', 'e', '_', 's', 't', 'r', 'i', 'n', 'g', '_', '2')

In [44]:
# Important
tuple(["Hello",",","World","!"]) # it works
tuple() # it doesn not work

()

In [47]:
print(empty_tuple)
print(singleton)
print(separated_tuple)
print(with_type_constructor_tuple)

()
('singleton', 0)
('Hello', ',', 'World', '!')
('s', 'o', 'm', 'e', '_', 's', 't', 'r', 'i', 'n', 'g', '_', '2')

In [48]:
a,b,c,d = separated_tuple # tuple unpacking
print(a,b,c,d)

a,b,c,d = d,c,a,b # tuple unpacking is not equal the following statement: a=d,b=c,c=a,d=b 
print(a,b,c,d) # not ! World ! World

hello,_,_,_ = separated_tuple # syntax allows "skipping" not necessary variables
print(hello)

Hello , World !
! World Hello ,
Hello

### Accessing

In [49]:
with_type_constructor_tuple[0]

's'

### Changing/Adding/Removing 
Tuples are immutable sequences

In [50]:
with_type_constructor_tuple[0] = 'QQQQQQ' # 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [51]:
del with_type_constructor_tuple[0] # 'tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [52]:
del with_type_constructor_tuple # but you can delete a whole object

### Methods

In [53]:
letter_tuple = tuple("qwertyuiopasdfghjklzxcvbnm")
print(letter_tuple)

letter_index = letter_tuple.index('o')
print(letter_tuple[letter_index])

print("TUPLE SIZE:",len(letter_tuple)) # list length

('q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', 'a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'z', 'x', 'c', 'v', 'b', 'n', 'm')
o
TUPLE SIZE: 26

## If-statements in sequences or if target item exists?

In [54]:
ex = ['1','2','a']
if 'a' in ex:
    print("YES_list!")
if 'q' in ('q','w',0):
    print("YES_tuple!")
    
print(1 in ['1','2','3'])

YES_list!
YES_tuple!
False

## For Loops Through Tuples, Lists and etc. 
For Loops can be used for any iterable objects

In [55]:
list_of_letters = list("qwertyuiopasdfghjklzxcvbnm")
(list_of_letters)

['q',
 'w',
 'e',
 'r',
 't',
 'y',
 'u',
 'i',
 'o',
 'p',
 'a',
 's',
 'd',
 'f',
 'g',
 'h',
 'j',
 'k',
 'l',
 'z',
 'x',
 'c',
 'v',
 'b',
 'n',
 'm']

In [56]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
for i in list_of_letters:
    print(i,end="\t")
for number in tuple("1234567890"):
    print(number,end="\t")

# print(number,letter)

q	w	e	r	t	y	u	i	o	p	a	s	d	f	g	h	j	k	l	z	x	c	v	b	n	m	1	2	3	4	5	6	7	8	9	0

In [58]:
for letter in list_of_letters:
    if letter in ['a','b','c']:
        print(letter,end="\t")
    else:
        print('*',end="\t")

*	*	*	*	*	*	*	*	*	*	a	*	*	*	*	*	*	*	*	*	*	c	*	b	*	*

In [ ]:
for letter in list_of_letters:
    if letter in ['a','b','c']:
        continue
    print(letter,end="\t")

In [ ]:
for number in tuple((1,2,34,5,6,7,8,9,0)):
    if number%3==0:
        break
    print(number,end="\t")

In [ ]:
for letter in 'qwertyuiop':
    continue
else:
    print("Else keyword allows executing code inside when For Loop is finised")

In [ ]:
for letter in list_of_letters:
    if letter!='134':
        print(letter)
    for i in '1234567890':
        print(i,end="\t")

### Enumerate Function
Enumerate allows to loop over iterable object and have an automatic counter.

In [63]:
for j,letter in enumerate(list_of_letters[:6]): 
    list_of_letters[j] = 1
    print(j,letter)
list_of_letters[:10]

0 1
1 1
2 1
3 1
4 1
5 1

[1, 1, 1, 1, 1, 1, 'u', 'i', 'o', 'p']

### Nested Loops

In [59]:
for j,letter in enumerate(list_of_letters): 
    if letter in tuple('milk'):
        print("!"*90)
        continue
#     elif letter =='b':
#         break
    print(letter,j,sep='-itter_',end="\t")
    
    for i in '1234567890':
        print(i,end="\t")
    
    print()

q-itter_0	1	2	3	4	5	6	7	8	9	0
w-itter_1	1	2	3	4	5	6	7	8	9	0
e-itter_2	1	2	3	4	5	6	7	8	9	0
r-itter_3	1	2	3	4	5	6	7	8	9	0
t-itter_4	1	2	3	4	5	6	7	8	9	0
y-itter_5	1	2	3	4	5	6	7	8	9	0
u-itter_6	1	2	3	4	5	6	7	8	9	0
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
o-itter_8	1	2	3	4	5	6	7	8	9	0
p-itter_9	1	2	3	4	5	6	7	8	9	0
a-itter_10	1	2	3	4	5	6	7	8	9	0
s-itter_11	1	2	3	4	5	6	7	8	9	0
d-itter_12	1	2	3	4	5	6	7	8	9	0
f-itter_13	1	2	3	4	5	6	7	8	9	0
g-itter_14	1	2	3	4	5	6	7	8	9	0
h-itter_15	1	2	3	4	5	6	7	8	9	0
j-itter_16	1	2	3	4	5	6	7	8	9	0
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
z-itter_19	1	2	3	4	5	6	7	8	9	0
x-itter_20	1	2	3	4	5	6	7	8	9	0
c-itter_21	1	2	3	4	5	6	7	8	9	0
v-itter_22	1	2	3	4	5	6	7	8	9	0
b-itter_23	1	2	3	4	5	6	7	8	9	0
n-itter_24	1	2	3	4	5	6	7	8	9	0
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

## Range
One more mutable sequence type. The <b>range()</b> function allows to generate iterable integer objects and always used for loops with specified executing number of times.

range(stop) -> range object
<br>
range(start, stop[, step]) -> range object

In [64]:
print(tuple(range(10)))
print(list(range(5,30)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
range(10)

In [65]:
for i in range(17,8,-1):
    print(i,end='\t')
    if i%9==0:
        print('\n',type(i),sep='')

17	16	15	14	13	12	11	10	9
<class 'int'>

In [ ]:
for i in range(10):
    for j in range(0,5):
        print(i,'*',j,'=',i*j,end='\t')
    print()
    
print()

for i in range(10):
    for j in range(5,10):
        print(i,'*',j,'=',i*j,end='\t')
    print()

In [ ]:
for i in range(len(list_of_letters)):
    print(i,list_of_letters[i],end='\t',sep='<-')

In [ ]:
a = [1,2,3,4,5]
a

In [ ]:
b = a.copy()

In [ ]:
b[1] = 102

In [ ]:
b,a

In [ ]:
list_of_letters_2 = list_of_letters.copy() # otherwise list_of_letters will be changed too
 
for i in range(len(list_of_letters_2)):
    list_of_letters_2[i] = '*'
    
print(list_of_letters_2,list_of_letters,sep='\n')

## Task 0

Use For Loops.

Display a chessboard (8x8), where black and white colors are "b" and "w" respectively and cells are separated by "|"-sign vertically and "_" and "." signs with space horizontally including borders, i.e.

In [ ]:
"""
._._.
|w|b|
._._.
|b|w|
._._.
"""

## Task 1
Display a isosceles triangle with size n=20 signs in ["/","\","_"]

In [ ]:
""" 
   /\
  /  \
 /    \
/______\
"""
# n = 4

### Map
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.

In [ ]:
len('qwerqtyu')

In [68]:
print(list(map(,['hello','my','world'])))

[('h', 'e', 'l', 'l', 'o'), ('m', 'y'), ('w', 'o', 'r', 'l', 'd')]

### Split & Join

In [69]:
string = '1 2 3 4 5 6 7 8 9 0'

In [70]:
splitted_list =  string.split()
splitted_list

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

In [71]:
joined_string = '->'.join(splitted_list)
joined_string

'1->2->3->4->5->6->7->8->9->0'

In [73]:
list_of_str = input().split() # '1' '2' '3' '4' '5'
list_of_int = list(map(int,input().split())) # 1 2 3 4 5 
print(list_of_str)
print((list_of_int))

1 2 3 4 5
5 6 7 8 9
['1', '2', '3', '4', '5']
[5, 6, 7, 8, 9]

In [75]:
print(*list_of_str)

1 2 3 4 5

In [79]:
'||'.join(map(str,list_of_int))

'5||6||7||8||9'

In [80]:
numbers = list(map(int,'1234567890')) 
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
numbers = list(map(int,'1234567890')) 
for i in range(len(numbers)):
    print('i =',i,'\tlen =',len(numbers),'\tnumbers =',numbers)
    print("Get:",numbers[i])
    if numbers[i] % 3 == 0: 
        numbers.pop(i) # list index out of range
    print()
print(' '.join(map(str, numbers)))

## Task 2
Suggest a solution to the problem above of removing items from the list.

## Bonus

<img src="data_structures_01.jpg">
* http://www.thewillchan.com/wp-content/uploads/2018/01/data_structures_01.jpg

## List Comprehensions (introduction)

In [85]:
print([i for i in range(0,101,10)])
print()
print([i for i in range(20) if i%3==0]) # if i%3 equals if i%3==1
print()
print([i if i%2==0 else "@" for i in range(20)])
print()
print([(i,i**2,i**3) for i in range(10)])
print()
print([[j for j in range(i)] for i in range(10)]) # nested

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

[0, 3, 6, 9, 12, 15, 18]

[0, '@', 2, '@', 4, '@', 6, '@', 8, '@', 10, '@', 12, '@', 14, '@', 16, '@', 18, '@']

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729)]

[[], [0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6, 7], [0, 1, 2, 3, 4, 5, 6, 7, 8]]

In [86]:
sum([[j for j in range(i)] for i in range(10)],[])

[0,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 2,
 3,
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 5,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8]

In [93]:
list(range(20,0,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
        print(i)

In [95]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c = []

for i in a:
    if i in b:
        c.append(i)
print(c)

[1, 1, 2, 3, 5, 8, 13]

In [106]:
lst = [1,2,3,5,20,56]
for i in range(len(lst)):
    if lst[i] == 20:
        print(i)
for element in enumerate(lst):
    if element[1] == 20:
        print(element[0])

4
4

In [153]:
lst = ['', 'frjejekf', 'rfjke', '']
print([i for i in lst if i])

['frjejekf', 'rfjke']

In [155]:
lst[len(lst)-1]

''

In [156]:
lst = list(range(21))*3
# print([i for i in lst if i != 20])
print(len(lst))
u = range(len(lst))
for i in u:
#     print(list(u))
    if lst[i] == 40 :        
        del lst[i]
    if len(lst) == i+1:
        break
    print(len(lst))
print(lst)

63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [147]:
lst = list(range(-10,11))
# def squ(x):
#    return 
list(map(lambda x: str(x)+'sdfghjkl',lst))

['-10sdfghjkl',
 '-9sdfghjkl',
 '-8sdfghjkl',
 '-7sdfghjkl',
 '-6sdfghjkl',
 '-5sdfghjkl',
 '-4sdfghjkl',
 '-3sdfghjkl',
 '-2sdfghjkl',
 '-1sdfghjkl',
 '0sdfghjkl',
 '1sdfghjkl',
 '2sdfghjkl',
 '3sdfghjkl',
 '4sdfghjkl',
 '5sdfghjkl',
 '6sdfghjkl',
 '7sdfghjkl',
 '8sdfghjkl',
 '9sdfghjkl',
 '10sdfghjkl']

In [143]:
squ(-27)

729

In [148]:
s = [[j for j in range(i)] for i in range(10)]
s

[[],
 [0],
 [0, 1],
 [0, 1, 2],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8]]